---
import Nav from '@components/Nav.astro'
---

<header class="flex items-center flex-col"></>
    <h1 class="text-jasper mb-4">
        <a href=`{}`>
            WaterWerks D&D
        </a>
    </h1>
    <Nav/>
</header>