---
import Nav from '@components/Nav.astro'

console.log(Astro.site)
---

<header class="flex items-center flex-col"></>
    <h1 class="text-jasper mb-4">
        <a href=`${Astro.site}`>
            dungy dragy
        </a>
    </h1>
    <Nav/>
</header>