---
// TODO: Alpine.js for dropdown?

import { getCollection } from "astro:content";


const players = await getCollection("players");

let sublinks = players.map(player => ({
    label: player.data.name,
    url: `/players/${player.slug}`
}));

const links = [
    {
        label: "Players",
        url: "/players",
        sublinks: sublinks
    },
    {
        label: "Readings",
        url: "/readings"
    }
]
---



<nav>
    <ul class="grid grid-cols-2 gap-4 text-800 w-full text-trophy">
			{
                links.map((link) => (

                    <li class="">
                        <a href={link.url}>
                            {link.label}
                        </a>
                    </li>
                   
                ))
            }   
    </ul>
</nav>
