---
import Header from '@components/Header.astro'
import Layout from '@layouts/Layout.astro'
import type { GetStaticPaths } from 'astro';
import { getCollection } from "astro:content";
import type { Player } from 'src/types.ts'
import type { CollectionEntry } from "astro:content";
import Players from '../players.astro';

interface Props {
  player: CollectionEntry<'players'>;
}

export const getStaticPaths: GetStaticPaths = async () => {
	const players = await getCollection("players");

	return (
		players.map((player) => ({
				params: { slug: player.slug },
				props: { player },
			}))
	);
};


const { player } = Astro.props;
const { Content } = await player.render();
---

<Layout title="">
	<main class="text-isabel">
		<section class="mx-auto w-full px-4 mt-14">
			<Content />
		</section>
	</main>
</Layout>