---
import Layout from '@layouts/Layout.astro'
import type { GetStaticPaths } from 'astro';
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import CharacterSheet from '@components/CharacterSheet.astro';

interface Props {
  player: CollectionEntry<'players'>;
}

export const getStaticPaths: GetStaticPaths = async () => {
	const players = await getCollection("players");

	return (
		players.map((player) => ({
				params: { slug: player.slug },
				props: { player },
			}))
	);
};


const { data } = Astro.props.player;
const { Content } = await Astro.props.player.render();
---

<Layout title="">
	<main class="text-isabel w-full">
		<section class="mx-auto w-narrow px-4 mt-14 bg-isabel">
			<CharacterSheet
				player={data}
			/>
			<Content />
		</section>
	</main>
</Layout>