---
import Layout from '@layouts/Layout.astro'
import type { GetStaticPaths } from 'astro';
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import CharacterSheet from '@components/CharacterSheet.astro';
import CharacterCard from '@components/CharacterCard.astro';

interface Props {
  player: CollectionEntry<'players'>;
}

export const getStaticPaths: GetStaticPaths = async () => {
	const players = await getCollection("players");

	return (
		players.map((player) => ({
				params: { slug: player.slug },
				props: { player },
			}))
	);
};


const { data } = Astro.props.player;
const { Content } = await Astro.props.player.render();
---

<Layout title="">
	<div class="flex flex-wrap gap-4 justify-center bg-isabel/[0.2]">
			<CharacterSheet
				player={data}
			/>
			
	</div>
			<Content />
</Layout>