<div class="w-full flex justify-center py-20">
    <div class="w-content flex justify-center ">
        <div
            class=" prose prose-md lg:prose-lg  dark:prose-invert h-max
            prose-h1:font-bold  prose-h1:text-jasper prose-h2:text-gray
            prose-a:text-trophy prose-p:text-justify prose-img:rounded-xl 
            ">
            <slot />
        </div>
    </div>
</div>