---
import Prose from '@components/Prose.astro';

---

<div class="w-full flex justify-center py-20">
    <div class="w-content flex justify-center ">
        <Prose>
            <slot/>
        </Prose>
    </div>
</div>